:root {
    background-color: #242424;
    color-scheme: light dark;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

#topbar {
    display: flex;
    justify-content: space-between;
}

#c {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

#debug {
    background-color: #242424;
    position: absolute;
    right: 0;
    width: 200pt;
    height: 100%;
    z-index: 10;
    visibility: hidden;
}

#help-title {
    position: absolute;
    left: 0;
    top: 0;
    color: black;
    z-index: 10;
    width: 100%;
    text-align: center;
}

#help-title h1 {
    margin-bottom: 0;
}

#help-title h2 {
    margin-top: 0;
}
